@font-face {
    font-family: "Nunito";
    src: url('../fonts/Nunito/Nunito-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: "Nunito";
    src: url('../fonts/Nunito/Nunito-Regular.ttf');
}

@font-face {
    font-family: "Nunito";
    src: url('../fonts/Nunito/Nunito-SemiBold.ttf');
    font-weight: bold;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    background-color: #222;
    overflow: hidden;
}

h1 {
    text-align: center;
    font-weight: bolder;
    color: #fff;
}

h3 {
    margin: 2em 5em;
    color: #fff;
}

hr {
    text-align: center;
    width: 80%;
}

ul {
    list-style-type: none;
    margin: 1em 5em;
    padding: 0;
}

li {
    max-width: 400px;
    font-size: 20px;
    transition: .3s;
}

li:hover {
    background-color: #ddd;
}

li:hover.disabled {
    background-color: #aaa;
    cursor: not-allowed!important;
}

li:hover a {
    color: #222;
}

li:hover.disabled a {
    cursor: not-allowed!important;
}

li:hover.void {
    background-color: transparent;
}

li i {
    width: 0;
    overflow: hidden;
    transition: .3s;
}

li i::before, li i::after {
    margin: 0;
}

li:hover i {
    width: 20px;
    margin-right: 1em;
}

li a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1em;
    color: #fff;
    text-decoration: none;
    width: inherit;
    height: inherit;

}

.particles-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1000;
}

@media (max-width: 992px) {
    li {
        margin: 1em;
    }   

    h3 {
        margin: 1em 0;
        text-align: center;
    }

    ul {
        margin: 1em;
    }


}